<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Le Petit Messager
			{% endblock %}
		</title>
		<link rel="icon" href="/icons/logo-light.png" type="image/png">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<meta name="csrf-token" content="{{ csrf_token('authenticate') }}">
	</head>

	<body>
		<div class="container-fluid px-0">
			<div class="row g-0">

				<!-- Barre de navigation (Gauche) -->
				<div class="col-md-1">
					<div {{ react_component('layout/Navbar', { 'isAuthenticated': app.user is not null, 'isAdmin': app.user is not null and is_granted('ROLE_ADMIN') } ) }}></div>
				</div>

				<!-- Contenu principal (Centre) -->
				<div class="col-md-7">
					{% block main_content %}{% endblock %}
					{% block body %}{% endblock %}
				</div>

				<!-- Widgets (Droite) -->
				<div class="widget-side-container col-md-4 d-flex flex-column">
					<div {{ react_component('layout/RightSidebarArea', { 'isAuthenticated': app.user is not null, 'username': app.user ? app.user.username : null, 'logoutPath': app.user ? path('app_logout') : null } ) }} class="react-component-wrapper"></div>
				</div>

			</div>
		</div>
	</body>
</html>
